-
	menu = [
		{	
			"title": "Бизнес",
			"link": "/",
			"submenu": []
		},
		{	
			"title": "О нас",
			"link": "#",
		},
		{	
			"title": "Цены",
			"link": "#",
		},
		{	
			"title": "Оформить заказ",
			"link": "#",
		},
	],
	steps = [
		{
			'title': 'Lorem ipsum dolorsit amet'
		},
		{
			'title': 'Сonsecteturadipiscing elit'
		},
		{
			'title': 'Sed do eiusmod tempor'
		},
		{
			'title': 'Esse cillum doloreeu fugiat'
		},
		{
			'title': 'Excepteur sint occaecat cupidatat non proident'
		},
	]