footer.footer
	div.container
		.footer__body 
			.footer__item.footer__item--copy
				.footer__copy © 2018 «LoremIpsum.net» Все права защищены.
			.footer__item.footer__item--payments
				.footer__payments.payments-footer
					ul.payments-footer__list 
						li 
							.payments-footer__icon.payments-footer__icon--qiwi
							.payments-footer__name Qiwi wallet
						li 
							.payments-footer__icon.payments-footer__icon--yandex
							.payments-footer__name Yandex Money
						li 
							.payments-footer__icon.payments-footer__icon--webmoney
							.payments-footer__name Web Money
			.footer__item.footer__item--contacts
				.footer__contacts.contacts-footer
					ul.contacts-footer__list 
						li 
							a(href="mailto:info@ipsum228.com").contacts-footer__link
								span.contacts-footer__icon.contacts-footer__icon--email
								span.contacts-footer__label info@ipsum228.com
						li 
							a(href="https://vk.com" target="_blank").contacts-footer__link
								span.contacts-footer__icon.contacts-footer__icon--vk
								span.contacts-footer__label Мы вконтакте

		