header.header#header
	div.container
		.header__body 
			a(href="/").header__logo.logo 
				img(src="./images/logo.svg", alt="Логотип")
			.header__menu.menu
				nav.menu__body
					include menu
				button.menu__icon(type="button")
					span
